# ride-or-die tools (installed and compiled from source)
direnv     2.30.3
neovim     0.9.0
yadm       3.1.1
# programming languages
golang     1.17.6
haskell    9.2.1
java       openjdk-17
julia      1.8.5
kotlin     1.6.10
nodejs     17.3.1
python     3.10.1
ruby       3.1.0
rust       1.67.0
# shell formatters
shellcheck 0.9.0
shfmt      3.6.0
# shell tools
aria2      1.35.0
fd         8.7.0
fzf        0.38.0
jq         1.6
pnpm       7.27.0
ripgrep    13.0.0
